.wrap {
  text-align-last: center;
  min-height: 93vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}

.loader {
  display: inline-block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 0.4em;
  animation-name: loaders;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loaders {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

.loader-1 {
  background-color: rgb(255, 0, 168);;
  animation-delay: 0.2s;
}

.loader-2 {
  background-color: rgb(255, 0, 168);;
  animation-delay: 0.4s;
}

.loader-3 {
  background-color: rgb(255, 0, 168);;
  animation-delay: 0.6s;
}

.loader-4 {
  background-color: rgb(255, 0, 168);;
  animation-delay: 0.8s;
}
