.error-wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #282828;
  color: #ff00a8;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: bold;
}
