.cart-img {
  max-width: 50%;
  vertical-align: middle;
  border-radius: 4px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input {
  transition: all 0.25s linear;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input {
  outline: none;
}

.cart-wrapper {
  min-height: 50vh;
  width: 67%;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 50px;
}

/* --- PRODUCT LIST --- */
.products {
  border-top: 1px solid #ddd;
}

.products > li {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.row {
  position: relative;
  overflow: auto;
  width: 100%;
}

.col,
.quantity,
.remove {
  float: left;
}

.col.left {
  width: 70%;
}

.col.right {
  width: 30%;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}

.detail {
  line-height: 2.2rem;
  line-height: 2.2rem;
  display: flex;
  flex-direction: column;
}

.detail .name {
  font-size: 1.2rem;
}

.detail .description {
  color: #7d7d7d;
  font-size: 1rem;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail .price {
  font-size: 1.5rem;
  color: #ff00a8;
}

.quantity,
.remove {
  width: 50%;
  text-align: center;
}

.remove svg {
  width: 60px;
  height: 60px;
}

.quantity > input {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  left: calc(50% - 30px);
  background: #fff;
  border: 2px solid #ddd;
  color: #7f7f7f;
  text-align: center;
  font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity > input:hover,
.quantity > input:focus {
  border-color: #ff00a8;
}

.close {
  fill: #7d7d7d;
  transition: color 150ms linear, background-color 150ms linear, fill 150ms linear, 150ms opacity linear;
  cursor: pointer;
}

.close:hover {
  fill: #ff00a8;
}

/* --- SUMMARY --- */
.promotion,
.summary,
.checkout {
  width: 100%;
  margin-top: 1.5rem;
}

.summary {
  font-size: 1.2rem;
  text-align: right;
}

.summary ul li {
  padding: 0.5rem 0;
}

.summary ul li span {
  display: inline-block;
  width: 15%;
}

.summary ul li.total {
  font-weight: bold;
}

.checkout {
  text-align: right;
}

.empty-product {
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
  .thumbnail img {
    display: none;
  }

  .quantity > input {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
  }

  .remove svg {
    width: 40px;
    height: 40px;
  }
}

/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {
  html {
    font-size: 14px;
  }

  .thumbnail,
  .detail {
    float: left;
  }

  .thumbnail {
    width: 23%;
  }

  .detail {
    width: 65%;
  }

  .checkout {
    width: 100%;
  }

  .checkout,
  .summary {
    text-align: right;
    display: flex;
    font-size: 1.2rem;
    text-align: right;
    flex-direction: column;
  }
}

.checkout {
  box-shadow: unset;
  align-items: center;
  width: inherit;
  display: flex;
  width: 24%;
  float: right;
}
