.header {
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #282828;
    position: sticky;
    z-index: 100;
    top: 0;
    justify-content: space-between;
}

.header__logo {
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 36px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
}

.header__nav a {
    text-decoration: none;
}

.header__optionLine {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.header__basketCount {
    position: absolute;
    @media only screen and (max-width: 600px) {
        right: 2px;
        top: 10px;
    }
    @media only screen and (max-width: 1224px) {
        right: 2px;
        top: 10px;
    }
    right: 56px;
    top: 10px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #ff00a8;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.menu_items {
    display: flex;
}

.menu_items a {
    text-decoration: none;
}

.searchBar {
    width: 370px;
}
