.my-wish-list {
  margin-bottom: 35px;
  display: grid;
  justify-content: center;
  @media only screen and (max-width: 600px) {
    display: block;
    padding: unset;
    text-align: -webkit-center;
  }
  @media only screen and (max-width: 1224px) {
    grid-template-columns: auto auto;
    padding: unset;
  }
  @media only screen and (min-width: 1024px) {
    grid-template-columns: auto auto auto;
  }
  @media only screen and (min-width: 1440px) {
    grid-template-columns: auto auto auto auto;
  }
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 50px;
}

.no-item {
  display: grid;
  place-items: center;
  font-size: large;
  min-height: 70vh;
  font-weight: bolder;
}
