.success-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  margin: 0 auto;
  min-height: 70vh;
  justify-content: center;
  text-align-last: center;

  .h1 {
    color: #88b04b;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .p {
    color: #404f5e;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
  }
  .i {
    color: #9abc66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
  }
}

.check-mark {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #ada;
  margin: 0 auto;
  display: grid;
  place-content: space-evenly;
}
